html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

header img {
  order: -1;
}

header p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav a {
  color: #0074d9;
  padding: .75em 1em .6em;
  text-decoration: none;
}

nav a:hover {
  background-color: #0074d9;
}
